<ion-view title="Page" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <button id="page6-button13" class="button button-positive button-block">Back</button>
    <div>
      <img src="img/imagesqtbnANd9GcSn2SVdT4XmzSHshn384Q1A7z288gz4J5i4ljH6jQ-CKOevdem0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="page6-heading5" style="color:#000000;">Jericho Lucas</h1>
    <div id="page6-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">096969696969</p>
    </div>
    <button id="page6-button14" class="button button-balanced button-block">Save</button>
    <button id="page6-button15" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>