<ion-view title="Page" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <form id="page-form1" class="list">
      <label class="item item-input" id="page-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" type="search">
      </label>
      <ion-item class="item-avatar" id="page-list-item1" style="">
        <img src="img/Z">
        <h2>Nancy</h2>
        <p>09168546521</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item2" style="">
        <img src="img/Z">
        <h2>Nancy B</h2>
        <p>091685465496</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item3" style="">
        <img src="img/imagesqtbnANd9GcQvS5rySz3KefjPfulNRAHnIGCN7EBIkWgenAdnbtoR-4j0c4Xu0g">
        <h2>Jollibee</h2>
        <p>8700</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item4" style="">
        <img src="img/DesTKcMU8AEgcir.jpg">
        <h2>Ngongi Taph</h2>
        <p>095845965214</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item5" style="">
        <img src="img/imagesqtbnANd9GcSn2SVdT4XmzSHshn384Q1A7z288gz4J5i4ljH6jQ-CKOevdem0">
        <h2>Jericho Lucas</h2>
        <p>096969696969</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item6" style="">
        <img src="img/marlou-2.png">
        <h2>Marlou</h2>
        <p>09168512543</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item8" style="">
        <img src="img/hqdefault.jpg">
        <h2>Bayani A.</h2>
        <p>09168545543</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item7" style="">
        <img src="img/xander-ford.png">
        <h2>Xander F.</h2>
        <p>09168789857</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item9" style="">
        <img src="img/9k">
        <h2>Jobert A.</h2>
        <p>09168542222</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item10" style="">
        <img src="img/joven-olvido.jpgresize6962C464ssl1">
        <h2>Joven.</h2>
        <p>09168541111</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>